<%-include("header") -%>

    <main role="main" class="strap-main js-strap-main">
      <div class="strap-bar">
        <a href="#" class="strap-toggle js-strap-toggle"><span class="oi oi-menu"></span></a>
        <div class="strap-main-site-logo"><a href="/">Kalaakrti</a></div>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-12">
            <p class="mb-5"><img src="images/img_bg_2.jpg" alt="" class="img-fluid"></p>

            <div class="row">
              <div class="col-xl-8 col-lg-12 mx-auto">
                <h1 class="mb-3">About</h1>
                <p>Our Marketplace is a unique opportunity for Indian artists and craftsmen to list their own creations/artwork/paintings and want to sell them with the masses. Whether you’re a small business or an individual Artist/Craftsmen looking for the right place to take off the handicraft business, this can be your golden opportunity to break into the retail industry.</p>
              </div>
            </div>

          </div>
        </div>
        <!-- END row -->

        <section class="strap-section">
          <div class="container-fluid">
            <div class="row mb-5 justify-content-center">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-8 mx-auto">
                    <h2 class="h1 mb-5 mt-0">The Team</h2>
                  </div>
                </div>

              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-12">
                <div class="owl-carousel strap-owl">
                  <div class="item">
                    <img src="images/person_3.jpg" class="img-fluid" alt="Free Template by uicookies.com">
                    <div class="p-4 border border-top-0">
                      <h4>Santosh Vishwanathan</h4>
                      <p>Student, (Information Science And Engineering, 7th Sem., RVCE)</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>



          </div>
        </section>
        <!-- END section -->

      </div>

    <%-include("footer") -%>
