<!-- header -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kalaakrti</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Website selling artwork via nfts" />
    <meta name="keywords" content="crypto, website, nft, html5, css3, mobile first, responsive" />
    <meta name="author" content="Anusha Jain, Sharon Thomas, Santosh Vishwanathan" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
    <script>
        // connect to Moralis server
        const serverUrl = "https://1mhrq4fu6yus.usemoralis.com:2053/server";
        const appId = "OQ0FhkJazRyejr34ZeLSmlCpy92gx0XQFVC96MO8";
        Moralis.start({
            serverUrl,
            appId
        });
    </script>

  </head>
  <body>

    <div class="strap-aside js-strap-aside">
      <a href="#" class="strap-close-menu js-strap-close-menu d-md-none"><span class="oi oi-arrow-left"></span> Close</a>
      <div class="strap-site-logo strap-animate" data-animate-effect="fadeInLeft">

        <a href="index.html" class="mb-2 d-block strap-logo">Kalaakrti</a>
        <p class="mb-0">Buy and sell video with NFTs from the world’s rarest artists</p>
      </div>
      <div class="strap-overflow">
        <nav class="strap-nav">
          <ul>
            <li class="strap-animate" data-animate-effect="fadeInLeft"><a href="/">Market</a></li>
            <li class="strap-animate" data-animate-effect="fadeInLeft"><a href="/about">About</a></li>
            <li class="strap-animate" data-animate-effect="fadeInLeft"><a href="/services">Services</a></li>
            <li class="strap-animate" data-animate-effect="fadeInLeft"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <footer class="strap-aside-footer strap-animate" data-animate-effect="fadeInLeft">
          <ul class="list-unstyled d-flex strap-aside-social">
            <!-- <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li> -->
            <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
            <li><a href="#" class="p-2"><span class="icon-github"></span></a></li>
          </ul>
          <p>&copy; 2021<br> All Rights Reserved. RVCE</p>
        </footer>
      </div>
    </div>
<!-- end of header -->
