<%-include("header") -%>



    <main role="main" class="strap-main js-strap-main">
      <div class="strap-bar">
        <a href="#" class="strap-toggle js-strap-toggle"><span class="oi oi-menu"></span></a>
        <div class="strap-main-site-logo"><a href="/">Kalaakrti</a></div>
      </div>
      <div class="card-columns">

        <% for(var i=1; i < 22; i++) { %>
          <div class="card">
            <a href="single.html">
              <img class="card-img-top strap-animate" src='images/img_<%=i%>.jpg' alt="Card image cap">
            </a>
          </div>
        <% } %>

        <div class="card">
          <a href="single.html">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="card-img-top strap-animate embed-responsive-item" src="videos/metamask.webm" allowfullscreen></iframe>
          </div>
          </a>
        </div>

        <div class="card">
          <a href="single.html">
          <img class="card-img-top strap-animate" src="images/img_1.jpg" alt="Card image cap">
          </a>
        </div>

        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_2.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_3.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_4.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_5.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_6.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_7.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_8.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_9.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_10.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_11.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_12.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_13.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_14.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_15.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_16.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_17.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_18.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_19.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_20.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card">
          <a href="single.html">
            <img class="card-img-top strap-animate" src="images/img_21.jpg" alt="Card image cap">
          </a>
        </div>
      </div>

      <!-- footer -->
    <%-include("footer") -%>
