<%-include("header") -%>

    <main role="main" class="strap-main js-strap-main">
      <div class="strap-bar">
        <a href="#" class="strap-toggle js-strap-toggle"><span class="oi oi-menu"></span></a>
        <div class="strap-main-site-logo"><a href="index.html">Aside</a></div>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-12">
            <!-- <p class="mb-5"><img src="images/img_bg_1.jpg" alt="" class="img-fluid"></p> -->

            <div class="row">
              <div class="col-xl-8 col-lg-12 mx-auto">
                <h1 class="mb-3">Services</h1>

                <p>When a user puts an item for sale, the ownership of the item will be transferred from the creator to the  marketplace.</p>

                <p>When a user purchases an item, the purchase price will be transferred from the buyer to the seller and  the item will be transferred from the marketplace to the buyer.</p>

                <p>The marketplace logic will consist of two smart contracts:</p>

                <p>NFT Contract - ERC721 Standard.allows users to mint unique digital assets and have ownership of  them.</p>

                <p>Marketplace Contract - This contract allows users to put their digital assets for sale on an open market.</p>  

                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
              </div>
            </div>

          </div>
        </div>
        <!-- END row -->

        <section class="strap-section">
          <div class="container-fluid">
            <div class="row mb-5">

              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left strap-media p-md-5 p-4">
                  <div class="strap-icon mb-3"><span class="oi oi-thumb-up display-4"></span></div>
                  <div class="media-body">
                    <!-- <h5 class="mt-0"></h5> -->
                    <p>Forget the hassle of registrations and  start earning right away.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left strap-media p-md-5 p-4">
                  <div class="strap-icon mb-3"><span class="oi oi-wrench display-4"></span></div>
                  <div class="media-body">
                    <!-- <h5 class="mt-0">Direct and trustred transanctions. no more  middlemen, just you and your talent.</h5> -->
                    <p>Direct and trustred transanctions. no more  middlemen, just you and your talent.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left strap-media p-md-5 p-4">
                  <div class="strap-icon mb-3"><span class="oi oi-person display-4"></span></div>
                  <div class="media-body">
                    <!-- <h5 class="mt-0"></h5> -->
                    <p>Access to the India's rarest artforms and  recipies as old as time.</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left strap-media p-md-5 p-4">
                  <div class="strap-icon mb-3"><span class="oi oi-location display-4"></span></div>
                  <div class="media-body">
                    <!-- <h5 class="mt-0"></h5> -->
                    <p>Unlock the skills passed down from generations and  also get access to trending viral performances.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left strap-media p-md-5 p-4">
                  <div class="strap-icon mb-3"><span class="oi oi-monitor display-4"></span></div>
                  <div class="media-body">
                    <!-- <h5 class="mt-0">Web Development</h5> -->
                    <p>Currency no bar.No more exchange rates or taxes.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left strap-media p-md-5 p-4">
                  <div class="strap-icon mb-3"><span class="oi oi-pencil display-4"></span></div>
                  <div class="media-body">
                    <!-- <h5 class="mt-0"></h5> -->
                    <p>Come and join us in this journey of finding people like you!</p>
                  </div>
                </div>
              </div>
            </div>




          </div>
        </section>
        <!-- END section -->

      </div>

      <%-include("footer") -%>
