<%-include("header") -%>

    <main role="main" class="strap-main js-strap-main">
      <div class="strap-bar">
        <a href="#" class="strap-toggle js-strap-toggle"><span class="oi oi-menu"></span></a>
        <div class="strap-main-site-logo"><a href="index.html">Aside</a></div>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-12">
            <p class="mb-5"><video class="card-img-top strap-animate embed-responsive-item" src='videos/vid_1.mp4' controls allowfullscreen poster="thumb/thumb_1.png"></video></p>

            <div class="row">
              <div class="col-xl-8 col-lg-12 mx-auto">
                <h1 class="mb-5">India's most magical music festival</h1>
                <p>Sarah Phillips travels to the city of Jodhpur for the Rajasthan International Folk festival, which celebrates India's musical heritage</p>
                <br />
                <p>Cost: 2 ETH</p>
                <button type="button" onclick="login()" class="btn btn-outline-dark loginButton">Buy Now!</button>
              </div>

            </div>


          </div>
        </div>

        <script>
        async function login() {
            let user = Moralis.User.current();
            if (!user) {
                user = await Moralis.authenticate();
            }
            console.log("logged in user:", user);
        }
      </script>
        <!-- END row -->

        <!-- <section class="strap-section">
          <div class="container-fluid">
            <div class="row mb-5 justify-content-center">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-8 mx-auto">
                    <h2 class="h1 mb-5 mt-0">Related Projects</h2>
                  </div>
                </div>

              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-12">
                <div class="owl-carousel strap-owl">

                  <div class="item">
                    <img src="images/img_2.jpg" class="img-fluid" alt="Free Template by uicookies.com">
                    <div class="p-4 border border-top-0">
                      <h4>Craig Smith</h4>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="images/img_3.jpg" class="img-fluid" alt="Free Template by uicookies.com">
                    <div class="p-4 border border-top-0">
                      <h4>Peter Wood</h4>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="images/img_4.jpg" class="img-fluid" alt="Free Template by uicookies.com">
                    <div class="p-4 border border-top-0">
                      <h4>James Carl</h4>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="images/img_5.jpg" class="img-fluid" alt="Free Template by uicookies.com">
                    <div class="p-4 border border-top-0">
                      <h4>Craig Smith</h4>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </section>
      END section -->

      </div>

      <%-include("footer") -%>
